<br>
<br>

<div class ="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="card rounded" style="width: 18rem;">
        <% if @user.image != nil %>
        <img src="<%= @user.image %>" class="card-img-top rounded-top" alt="...">
        <% else %>
        <img src="https://icon-library.net/images/default-profile-icon/default-profile-icon-24.jpg" class="card-img-top rounded-top" alt="...">
        <%end%>
          <div class="card-body">
            <h5 class="card-title"><%= @user.username %>'s Bio</h5>
              <p class="card-text"><%= @user.bio %></p>
             <% if @user == current_user %>
               <a href="/settings/<%= current_user.id %>" class="btn btn-primary">Edit Profile</a>
             <% else %>
              <a></a>
             <%end%>
          </div>
      </div>
    </div>

  <div class="col-md-4">
    <nav class="nav nav-tabs">
      <a class="nav-link active" href="/users/<%= @user.username %>">Timeline</a>
      <a class="nav-link" href="/users/<%= @user.username %>/own_stats">Stats</a>
      <% if @user == current_user %>
        <a class="nav-link" href="/new_check_in/<%= @user.username %>">Check In</a>
      <% else %>
        <a></a>
      <% end %>
    </nav>
    <div>
        <% @user_check_ins.all.order({ :created_at => :desc }).each do |check| %>
        <% if @user_check_ins == nil %>
          <td> </td>
        <% else %>

        <div class="card">
          <div class="row no-gutters">
            <div class="col-auto">
              <img style="width: 15rem;" src="<%= check.image %>" class="img-fluid" alt="<%= check.location.name %>">
            </div>
            <div class="col">
              <div class="card-block px-2">
                <h5 class="card-title"><a href="/locations/<%=check.location.id %>"><%=check.location.name %></a></h5>
                <%= check.caption %>
                <p class="card-text"><small class="text-muted"><%= time_ago_in_words(check.created_at) %> ago</small></p>
              </div>
              <div>
                <% if @user == current_user %>
                <small class="card-text"><a href="/check_in/<%= check.id %>/delete">Delete Check In</a></small>
                <% else %>
                <p></p>
                <% end %>
              </div>
            </div>
          </div>
         <%end%>
         <%end%>
        </div>
      </div>
    </div>
  </div>
</div>