<br>
<br>

<div class ="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="card rounded" style="width: 18rem;">
        <% if @user.image != nil %>
        <img src="<%= @user.image %>" class="card-img-top rounded-top" alt="...">
        <% else %>
        <img src="https://icon-library.net/images/default-profile-icon/default-profile-icon-24.jpg" class="card-img-top rounded-top" alt="...">
        <%end%>
          <div class="card-body">
            <h5 class="card-title"><%= @user.username %>'s Bio</h5>
              <p class="card-text"><%= @user.bio %></p>
             <% if @user == current_user %>
               <a href="/settings/<%= current_user.id %>" class="btn btn-primary">Edit Profile</a>
             <% else %>
              <a></a>
             <%end%>
          </div>
      </div>
    </div>
    
  <div class="col-md-4">
    <nav class="nav nav-tabs">
      <a class="nav-link" href="/users/<%= @user.username %>">Timeline</a>
      <a class="nav-link" href="/users/<%= @user.username %>/own_stats">Stats</a>
      <a class="nav-link active" href="/new_check_in/<%= @user.username %>">Check In</a>
    </nav>
    <div>
        <div class="card col align-center">
          <div class="row no-gutters">
            <div class="col-auto">
              <form action="/create_check_in/<%= @user.username %>" method="post">
                <br>
                <div>
                  <label for="browser_location"></label>
                  <input id="browser_location" name="qs_location" placeholder="Enter a location..." type="text">
                </div>
                <br>
                <div>
                  <label for="browser_photo"></label>
                  <input id="browser_photo" type="text" name="qs_photo" placeholder="Enter image URL">
                </div>
                <br>
                <div>
                  <label for="browser_caption"></label>
                  <textarea for="browser_caption" name="qs_caption" placeholder="Enter a caption"></textarea>
                </div>

                <input class="btn btn-success" type="submit" value="Check In!">
              </form>
              <br>
            </div>
          </div>
      </div>
    </div>
    </div>
  </div>
</div>