<br>
<br>
<div class="container">
  <% @the_location.each do |map| %>
  <div class="card mb-3">
    <img style="height: 100%; width: 100%;" src="<%= map.image %>" class="card-img-top" alt="<%= map.name %>">
    <div class="card-body">
      <h5 class="card-title"><%= map.name %></h5>
      <p class="card-text"><%= map.bio %></p>
      <p class="card-text"><small class="text-muted">Updated <%= time_ago_in_words(map.updated_at) %> ago</small></p>
    </div>
  </div>
  <% end %>
</div>