<table class="table table-borderless">
  <tr>
    <th></th>
    <th>Name</th>
    <th>Address</th>
    <th>Bio</th>
    <th>Longitude</th>
    <th>Latitude</th>
    <th>Color</th>
  </tr>
  
  <% @the_location.each do |map| %>
  <tr>
    <td>
      <img style="height: 12rem;" src="<%= map.image %>">
    </td>
    
    <td>
      <%= map.name %>
    </td>
    
    <td>
      <%= map.address %>
    </td>
    
    <td>
      <%= map.bio %>
    </td>
    
    <td>
      <%= map.lng %>
    </td>
    
    <td>
      <%= map.lat %>
    </td>
    
    <td>
      <%= map.color %>
    </td>
    <% end %>
  </tr>
</table>