<div class="container">
  <h1><%= @user.username %>'s Favorite Spots</h1>
  <% @user_location.each do |loc| %>  
  <div class="card">
    <div class="row no-gutters">
      <div class="col-auto">
        <img style="width: 15rem;" src="<%= loc.image %>" class="img-fluid" alt="<%= loc.name %>">
      </div>
      <div class="col">
        <div class="card-block px-2">
          <h5 class="card-title"><a href="/locations/<%=loc.id %>"><%=loc.name %></a></h5>
          <p class="card-text"><%= loc.address %>
            <br>
          <%= loc.bio %></p>
          <p class="card-text"><small class="text-muted">Last updated <%= time_ago_in_words(loc.created_at) %> ago</small></p>
        </div>
      </div>
    </div>
  </div>

  <% end %>
</div>

