<!DOCTYPE html>
<html>
  <head>
    <title>Shoebox</title>

<!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
<meta charset="utf-8">
<!-- Connect Font Awesome CSS -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
<!-- Connect Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<!-- Connect Bootstrap JavaScript and its dependencies -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js"></script>
<!-- Make it responsive to small screens -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  
  <body>
      <% if current_user == nil %>
      <nav></nav>
      <% else %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">ShoeBox</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
   <a class="navbar-brand" href="/users/<%= current_user.username %>"><%= current_user.username %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/users/<%= current_user.username %>/own_locations">Locations</a>
      <a class="nav-item nav-link" href="/discover/<%= current_user.id %>">Discover</a>
      <a class="nav-item nav-link" href="/map/<%= current_user.id %>">Map</a>
      <a class="nav-item nav-link" href="/shop/<%= current_user.id %>">Shop</a>
      <a class="nav-item nav-link" href="/settings/<%= current_user.id %>">Settings</a>
      <a class="nav-item nav-link active" href="/sign_out">Sign Out <span class="sr-only">(current)</span></a>
  </div>
 </div>
</nav>
    <%end%>
    
        
    <% if alert.present? %>
      <p style="border: thin red solid;"><%= alert %></p>
    <% end %>
    
    <% if notice.present? %>  
      <p style="border: thin green solid;"><%= notice %></p>
    <% end %>

    <%= yield %>  
  </body>
</html>
